<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h4 class="text-left">{{item.name}}</h4>
        </div>
        <div class="col">
            <h4 class="text-right">{{item.lastTime}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="w-100" ng-src="{{item.img}}">
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <p class="text-justify">{{item.description}}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="media" ng-repeat="user in commentList" default-img>
                <img class="d-flex mr-3 mb-3" src="" alt="{{user.name}}">
                <canvas id="{{user.id}}" style="display:none"></canvas>
                <div class="media-body">
                    <h5 class="mt-0">{{user.name}}</h5>
                    {{user.comment}}
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary fixed-btn" data-toggle="modal" data-target="#ModalLong">
        评论
    </button>
    <!-- Modal -->
    <div id="commentModals">
        <div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">评论</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form form-handler>
                            <div class="form-group">
                                <label for="guestName">昵称</label>
                                <input type="text" class="form-control" id="guestName" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="guestComment">留言</label>
                                <textarea class="form-control" id="guestComment" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-sm" id="Modalshort" tabindex="-1" id="alertModal" role="dialog" aria-labelledby="mySmallModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body" id="messageInput"></div>
                </div>
            </div>
        </div>
    </div>
</div>